.App {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title {
    margin-bottom: 2rem;
}

.reminder-button {
    margin: 5px;
}

.list-item {
    display: inline-block;
}

.delete-button {
    padding-left: 10px;
    cursor: pointer;
}